

/*a {
  color: #00B7FF !important;
}*/
*{
  Font-family: Nunito,Arial;
}

#heading{
  font-size: 2em;
}

.headingtext{
  position: absolute;
  font-family: Oswald;
  font-size:2.5em;
  width:100%;
  color: white;
  text-align:center;
}

.himg{
  width:100%;
}

.about{
  text-align:justify;
}

.notiftab{
  font-size: 1em;
  text-align:center;
}

.donatelink{
  margin-top:20%;
  
}

.reclink{
  margin-top:20%;
  margin-bottom:20%;
}

.aboutus
{
  clear:left;
  text-align:center;
}

.btn-primary {
  background-color: #5BC8FF  !important;
}

/*.btn-primary a{
  color: white  !important;
}*/
