<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/homePageStyle.css">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Confirm</title>
</head>

<body>
    <!--===== HEADER =====-->


    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data" style="text-align: center;">
                <h1 class="home__title">Thank you, <span class="home__title-color"
                        style="color: #52057b;"><%= name %></span><br>
                </h1>
                <p class="home__title">
                    We are pleased that you could give your valuable time for the donation. Once your details are
                    verified, we will contact you for further process.
                </p>
                <a href="/dashboard" class="button" style="margin: 2rem;">Home</a>
            </div>

            <div class="home__social">
                <!-- <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                <a href="" class="home__social-icon"><i class='bx bxl-behance'></i></a>
                <a href="" class="home__social-icon"><i class='bx bxl-github'></i></a> -->
            </div>

            <!-- <div class="home__img">
                <img src="/img/donate.jpg" alt="">
            </div> -->
        </section>
        <!--===== ABOUT =====-->
        <!-- <section class="about section " id="about" style="text-align: center;">
            <h2 class="section-title">About</h2>

            <div class="about__container" style="text-align: center;">



                <p class="about__text" style="text-align: center;">Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Voluptate cum
                    expedita quo culpa tempora, assumenda, quis fugiat ut voluptates soluta, aut earum nemo
                    recusandae cumque perferendis! Recusandae alias accusamus atque.</p>
            </div>
        </section> -->



        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="/homePage.js"></script>
</body>

</html>