<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/homePageStyle.css">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Crowdfunds</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">CROWDFUNDS</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/login" class="nav__link active">Login</a></li>
                    <li class="nav__item"><a href="/register" class="nav__link">Register</a></li>
                    <li class="nav__item"><a href="/aboutus" class="nav__link">AboutUs</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">Moto</a></li>
                    <!-- <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li> -->
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">

                <h1 class="home__title">Bring out <br>the <span class="home__title-color" style="color: #52057b;">Philanthrophist</span><br> in you

                </h1>

                <a href="/register" class="button">Register</a>
            </div>

            <div class="home__social">
                <!-- <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                <a href="" class="home__social-icon"><i class='bx bxl-behance'></i></a>
                <a href="" class="home__social-icon"><i class='bx bxl-github'></i></a> -->
            </div>

            <div class="home__img">
                <img src="/img/donate.jpg" alt="homepage greeting">
            </div>


        </section>
        

        
        <section class="about section " id="about" style="text-align: center;">
            <h2 class="section-title" style="color: purple;">About</h2>
            <div class="awareness_img" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
                <img src="/img/visuals.jpeg" alt="awareness image">
            </div>
            <div class="about__container" style="text-align: center;margin: auto;">


                <div>
                    <h2 class="about__subtitle">The campaign</h2>
                    <p class="about__text">In order to help the needy, let us come forward and lend a supporting
                        hand to those severely
                        affected by the pandemic.
                        <br> Only through mutual cooperation and crowdfunding can situational poverty and inequality be
                        countered.
                        <br>Please donate all your used and helpful items so that they may be provided to severely
                        affected
                        individuals and families.
                        <br> <br> <br>
                    <div><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
                            alt="WHO Page advice for public"> WHO Guidelines for protection and safety </a></div>
                    <br> <br></p>
                </div>
            </div>
        </section>
    </main>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="/homePage.js"></script>
</body>

</html>