<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style1.css" >  
        <title>About us</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="Teamc">
                    <h2>TeamCode</h2>
                    <br>
                    We are a group of 4 people working on the Hack-A-Duck project based on donation campaign for illness cause
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>