<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
        <link rel="stylesheet" href="stylesheets/style1.css" >   

        <title>About us</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="hider">
                  <h2>TeamCode</h2>
                  We are a group of 4 people working on the Hack-A-Duck project based on donation campaign for illness cause
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-5">
                  <div class="sags">
                      <img src="images/vivek.jpg" class="rounded-circle" style="width:50%" alt="Background img">
                  </div>
              </div>
              <div class="col-sm-7">
                  <h3>Vivek Pattanayak</h3>
                  <p>CSE at BIT Mesra (2023).Tech enthusiast, exploring Competitive programmer and Web development.
                    My other hobbies include music and content designing. </p>
              </div>
            </div> 
            <br><br>
          
            <div class="row">
              <div class="col-sm-3">
                <div class="firsttext">
                    <a href="https://www.instagram.com/vivek__ig/"> <img src="images/instasmr.png" alt="">  Instagram</a>
                </div>
              </div>
              <div class="col-sm-3">
                <a href="https://www.facebook.com/vivek.pattanayak.73"> <img src="images/fb.png" alt="">  Facebook</a>
              </div>
              <div class="col-sm-3">
                <a href="https://www.linkedin.com/in/vivek-pattanayak-8225021a0/"> <img src="images/link.png" alt="">  Linkedin</a>
              </div>
              <div class="col-sm-3">
                <a href="https://github.com/VivekPattanayak"> <img src="images/git.png" alt="">  Github</a>
              </div>
            </div>
            <br><br><br>

            <div class="row">
              <div class="col-sm-5">
                  <div class="sags">
                      <img src="images/Saketh.jpg" class="rounded-circle" style="width:50%" alt="Background img">
                  </div>
              </div>
              <div class="col-sm-7">
                  <h3>Saketh Kumar Pabba</h3>
                  <p>Pursuing B.Tech (2023) in IT from BIT Mesra. I am into Web Development and I am also a Competitive programming Enthusiast.
                  I love listening to different songs mainly like listening to the mainstream bollywood and hollywood songs. This is something which I would like to rely upon when I am all alone and rejuvenate myself. </p>
              </div>
            </div> 
            <br><br>
          
            <div class="row">
              <div class="col-sm-3">
                <div class="firsttext">
                    <a href="https://www.instagram.com/sak_pab_2602"> <img src="images/instasmr.png" alt="">  Instagram</a>
                </div>
              </div>
              <div class="col-sm-3">
                <a href="https://www.facebook.com/saketh.pabba.5"> <img src="images/fb.png" alt="">  Facebook</a>
              </div>
              <div class="col-sm-3">
                <a href="https://in.linkedin.com/in/saketh-pabba-783a94194"> <img src="images/link.png" alt="">  Linkedin</a>
              </div>
              <div class="col-sm-3">
                <a href="https://github.com/sakpab2602"> <img src="images/git.png" alt="">  Github</a>
              </div>
            </div>
            <br><br><br>

            <div class="row">
              <div class="col-sm-5">
                  <div class="sags">
                      <img src="images/AdityaDubey.jpg" class="rounded-circle" style="width:50%" alt="Background img">
                  </div>
              </div>
              <div class="col-sm-7">
                  <h3>Aditya Kumar Dubey</h3>
                  <p>Pursuing B.Tech (2023) in IT from BIT Mesra. I am a Web Developer and a Competitive programming Enthusiast.
                    I like outdoor games like football and cricket. I love travelling and going on Vacation trips. I am also a serial binge watcher. </p>
              </div>
            </div> 
            <br><br>
          
            <div class="row">
              <div class="col-sm-3">
                <div class="firsttext">
                    <a href="https://www.instagram.com/dubeyaditya6232"> <img src="images/instasmr.png" alt="">  Instagram</a>
                </div>
              </div>
              <div class="col-sm-3">
                <a href="https://www.facebook.com/dubeyaditya6232/"> <img src="images/fb.png" alt="">  Facebook</a>
              </div>
              <div class="col-sm-3">
                <a href="https://www.linkedin.com/in/aditya-dubey-400184197"> <img src="images/link.png" alt="">  Linkedin</a>
              </div>
              <div class="col-sm-3">
                <a href="https://github.com/dubeyaditya6232"> <img src="images/git.png" alt="">  Github</a>
              </div>
            </div>
            <br><br><br>
            <div class="row">
              <div class="col-sm-5">
                  <div class="sags">
                      <img src="images/Sayan.jpg" class="rounded-circle" style="width:50%" alt="Background img">
                  </div>
              </div>
              <div class="col-sm-7">
                  <h3>Sayan Maiti</h3>
                  <p>Pursuing B.Tech (2023) in CSE from BIT Mesra. I am currently exploring Competitive programming and Web Development.
                    I like listening to music and been a fan of anime since long. </p>
              </div>
          </div> 
          <br><br>

          <div class="row">
            <div class="col-sm-3">
              <div class="firsttext">
                  <a href="https://www.instagram.com/sayan__244/"> <img src="images/instasmr.png" alt="">  Instagram</a>
              </div>
            </div>
            <div class="col-sm-3">
              <a href="https://www.facebook.com/banfig.teure/"> <img src="images/fb.png" alt="">  Facebook</a>
            </div>
            <div class="col-sm-3">
              <a href="https://www.linkedin.com/in/sayan-maiti-a500271bb/"> <img src="images/link.png" alt="">  Linkedin</a>
            </div>
            <div class="col-sm-3">
              <a href="https://github.com/SayangitBIT"> <img src="images/git.png" alt="">  Github</a>
            </div>
          </div>
          <br><br><br>
          </div>


        <script src="" async defer></script>
    </body>
</html>