<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="stylesheets/style.css" >   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="heading">
    <div class="headingtext"> THEME 3 </div>
    <img src="images/headingimg.jpg" class="img-fluid" style="width:100%" alt="Background img">
    </div>
    <div class="container">  
        <div class="row">
          <div class="col-sm-8" >
              <div class="about">
                  <br><br><br>
Amet velit Lorem id sunt cupidatat quis laborum et laboris reprehenderit dolor in do nulla. Esse sit labore tempor adipisicing aute voluptate eiusmod commodo dolor cupidatat do consequat amet. Labore anim incididunt laboris fugiat ut commodo. Incididunt anim adipisicing est labore minim esse dolor adipisicing culpa esse proident commodo occaecat culpa. Elit ad qui qui mollit laboris non exercitation Lorem consequat fugiat occaecat. Cillum labore elit culpa mollit mollit commodo elit Lorem ullamco anim irure. Exercitation eu voluptate veniam esse aute do pariatur deserunt velit.

Culpa esse deserunt Lorem Lorem et dolor. Exercitation excepteur minim Lorem dolor qui labore sint sunt sit. Enim nisi ea ipsum consectetur sunt fugiat pariatur tempor laborum qui est id dolor. Excepteur ipsum magna labore tempor occaecat consectetur aliquip est laborum pariatur ex. Incididunt nulla tempor elit anim.

Labore ea eiusmod ea aute reprehenderit. Eiusmod proident anim ullamco ullamco excepteur sint qui consectetur eu cillum. Veniam esse eiusmod occaecat sint aute ullamco esse deserunt laborum eiusmod.

Consectetur ex tempor ipsum elit minim reprehenderit excepteur aliqua consectetur ipsum. Reprehenderit dolore pariatur ea fugiat. Fugiat minim sint excepteur minim deserunt nisi fugiat veniam pariatur veniam laboris exercitation laboris. Enim voluptate do ea nulla ex duis proident fugiat est aliqua cillum officia dolore. Dolore occaecat nostrud excepteur non adipisicing exercitation id ipsum fugiat consequat in. Aute labore culpa anim ullamco id nulla dolore nulla. Sunt magna cupidatat qui nostrud.

Fugiat laboris eu cupidatat eu amet nulla aliqua nisi esse adipisicing deserunt sit elit occaecat. Veniam mollit pariatur incididunt ullamco aliquip qui incididunt incididunt cillum est reprehenderit anim. Aute cupidatat Lorem culpa dolore pariatur. Elit in tempor adipisicing ad. Qui minim cillum ad proident cupidatat qui consectetur pariatur esse consequat aliqua ipsum et. Culpa veniam ex velit commodo labore ad magna deserunt proident esse commodo eiusmod.

Aute est duis sint quis labore enim incididunt aliqua pariatur voluptate sit aute aliqua amet. Labore deserunt ipsum ea cillum anim ut qui elit laborum. Aliqua velit commodo proident sint ea est pariatur duis commodo. Sunt velit enim id laboris. Incididunt fugiat laboris irure aliqua do non tempor elit ad adipisicing nulla reprehenderit nisi do. Reprehenderit eiusmod aute sint occaecat.</div>
          </div>
          <div class="col-sm-4">
            <div class="notiftab" >
                <div class="donatelink">
                    <button class="btn btn-outline-warning"><a>Donate link</a></button>
                </div>
                <div class="reclink">
                    <button class="btn btn-outline-warning"><a>Request help/Recieve donations</a></button>
                </div>
            </div>
          </div>
        </div>
      </div>
 <hr width="100%" style="color:lightgray;clear:left"/>   
<div class="aboutus">
    About us:
    <br>
    <button class="btn btn-primary"><a href="About us.ejs">TeamCode</button>
</div>    
</body>
</html>