<!DOCTYPE html>
<html lang="en">
<head>
<title>Create Page Login Form In HTML and CSS | Responsive Page
</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>



	<div class="container">
	<div class='background'></div>
		<div class="Form-Login">
			<form>
				<h1>Sign In</h1>
				<div>
					<input type="text" maxlength='30' required minlength="8" />
					<label>User name</label>
				</div>
				<div class='password'>
					<input type="password" maxlength='15' required minlength="8" />
					<label>Password</label>
				</div>
				<div>
					<button class='Button-Login'>Login</button>
				</div>
				<a href="#">Forgot account?</a>
				<div class="text-center">Do not have an account? <a href="register.ejs">Sign up</a></div>
			</form>
		</div>
	</div>
</body>
</html>